<html>
<body>
<script src="/static/js/jquery-1.8.2.min.js" type="text/javascript"></script>



<style>
.seq {
    font-family: "Courier New", Courier, monospace;
    width:800px;
    word-wrap: break-word;
    letter-spacing: 10px;
    font-size:16px;
    font-weight:bold;
}
.sidebar {
    position: fixed;
    right:0;
    top: 0;
    width:400px;
}
.seq0 { color:red; }
.seq1 { color:yellow; }
.seq2 { color:green; }
.seq3 { color:blue; }
.seq4 { color:orange; }
.seq5 { color:magenta; }

</style>

{% autoescape off %}
<div class="seq">{{annotated_seq}}</div>
{% endautoescape %}

<div class="sidebar">
Children:
<ul>
    {% for c in children %}
        
        <li><span class="seq{{forloop.counter0}}">node</span> {{c.pk}} <a href="#seq{{c.pk}}">anchor</a> <a href="{% url show_node c.pk %}">goto page</a></a> {{c.sequence}}</li>
    {% endfor %}
</ul>

Parent:
<ul>
    {% for p in parents %}
        <li><a href="{% url show_node p.pk %}">node {{p.pk}}</a></li>
    {% endfor %}
</ul>
</div>

<div class="repeatmasker">
<h1>Repeast Masker</h1>
</div>


</body>
</html>
